:root {
    --color1: #44195E;
    --color2: #FAEE1C;
    --color3: #FC6601;
    --color4: #071A52;
    --contrast: #222;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
    scrollbar-width: none;
    font-size: 62.5%;
    color: var(--color4);
}

#navbar {
    top: 0;
    left: 0;
    min-width: 25%;
    width: 100%;
    height: 50px;
    max-height: 50px;
    padding-left: 50rem;
    padding-right: 50rem;
    background-color: #e2e2e2;
}

.list {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    width: 100%;
}

ul {
    list-style: none;
}

li a {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bolder;
    padding: 1.8rem 2rem;
}

body,
footer {
    background-color: #fafafa;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 27rem;
    margin-bottom: 27rem;
    z-index: 1;

}

#picture {
    padding: 0 10rem 0 10rem;
    text-align: center;
}

.picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 1rem;
    z-index: 10;
}

#info {
    text-align: center;
    font-style: italic;
}

#info a {
    color: #6638b6;
    font-size: 3rem;
    text-decoration: none;
    font-style: italic;
}

#info h2 {
    font-size: 5rem;
    font-style: normal;
}

#info h3 {
    font-size: 3rem;
}

.profile-link {
    font-size: 5rem;
}

.social-list {
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    font-size: 3rem;
}

#quote p {
    font-size: 2rem;
    font-style: italic;
}

#quote q {
    font-size: 2rem;
}